# CHAVE DA APLICAÇÃO
SECRET_KEY=

# CREDENCIAIS DO BANCO
DB_USER=
DB_PASSWORD=
DB_NAME=

# CHAVE DE ENCODING DO JWT
JWT_SECRET_KEY=

# SUAP OAUTH
SUAP_CLIENT_ID=
SUAP_CLIENT_SECRET=

# CLIENT DE MODERAÇÃO
DEEPSEEK_API_KEY=

# SERVIÇO DE CLOUD PARA MÍDIAS
CLOUDINARY_URL=

# FRONTEND PARA REDIRECIONAMENTO
BASE_FRONTEND_URL=
