SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=

DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=

SUPER_USER_USERNAME=
SUPER_USER_PASSWORD=

HF_TOKEN=
NOTIFICA_EMBEDDING_MODEL=